.block-1 {

    grid-template-columns: [block1-start]1fr [block1-end] 20px [block2-start]1fr [block2-end]20px [block3-start]1fr [block3-end];

    .block-1__item1 {
        grid-column: block1-start / block1-end;
    }

    .block-1__item2 {
        grid-column: block2-start / block2-end;
    }

    .block-1__item3 {
        grid-column: block3-start / block3-end;
    }
}

.block-2 {
    max-width: 700px;
    margin: auto;
    grid-template-columns: [block1-start] 1fr [block1-end] 30px [block2-start] 1fr [block2-end];

}

.block-3 {
    max-width: 700px;
    margin: auto;

    .block-3__items {
        grid-template-columns: [col-1-start] 1fr [col-1-end] 30px [col-2-start] 1fr [col-2-end];
        grid-template-rows: [img-start] auto [img-end] 20px [title-start] auto [title-end] 10px [link-start] auto [link-end] 10px [parag-start] auto [parag-end] 10px [button-start] auto [button-end];
        display: grid;

        .block-3__item {
            display: contents;
        }

    }
}

.footer {
    .footer-top {
        grid-template-areas:
            "col1 col2 col3" "col4 col4 col4";
        grid-template-columns: 1fr 1fr 1fr;

        .footer-top__col-4 {
            form {
                grid-template-columns: 2fr 1fr;
            }
        }
    }
}